__pycache__/
*.pyc
.pytest_cache/

allure-report/*
!allure-report/index.html

allure-report/*
!allure-report/attachments

allure-report/*
!allure-report/test-cases

allure-results/
venv/
.venv/
env/
.idea/
.vscode/
.DS_Store
Thumbs.db